# Vim tmp files
*.swp

# dir
slprj/
*/slprj/
Simulink_test/compare_vedio/
paper_polt/
mpc_lpv_result/
matrix_cpp/
UTPR_Matlab_Model/UTPR/

# file
.editorconfig
.gitattributes

CMakeSettings.json
*.mp4

*.xlsx
*.asv
*.slxc
*.zip
*.xlsx
